player-connection-mode=Listen
player-connection-guid=1356140182
player-connection-debug=0
player-connection-project-name=RhythmBattleDungeon
player-connection-ip=10.30.16.15
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d69f8964453b4c45a72d81586233522c
