player-connection-mode=Listen
player-connection-guid=22308827
player-connection-debug=0
player-connection-project-name=RhythmBattleDungeon
player-connection-ip=10.30.16.15
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b89c5136dfe24877a995752cb367a5da
