player-connection-mode=Listen
player-connection-guid=2402899523
player-connection-debug=0
player-connection-project-name=RhythmBattleDungeon
player-connection-ip=10.30.16.8
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5066b8c6f0be4d2c9ce6a507eee56255
